* {
padding:0%;
margin:0%;  
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    line-height: 40px;
    letter-spacing: 10px;
    background-image: url('../../../Classwork/classworkticketweb/images/ferrari.jpg');
    b


}